.btn_wrapper {
  @apply relative flex h-fit items-center gap-2 rounded-full bg-light-gb-purple px-3 py-2 leading-3 shadow-btn-inner landscape:flex-col landscape:pr-1 landscape:pl-2;
}

.btn {
  @apply -mt-1 block flex h-6 w-6 translate-y-1 cursor-pointer items-center justify-center rounded-full bg-lightest-grey pl-4 shadow-btn shadow-lighter-gb-purple landscape:shadow-btn-vertical landscape:shadow-lighter-gb-purple;
}
