.wrapper {
  @apply mb-4 block;
}

.input {
  @apply block w-full rounded-md border-3 border-lightest-grey py-1 px-2 text-base focus-visible:outline-gb-purple sm:text-lg;
}

:global(.dark) {
  .input {
    @apply border-2 bg-darker-grey;
  }
}

.error {
  @apply mt-1 block w-fit rounded-md bg-red px-3 py-1 text-xs text-white;
}

.shadow {
  box-shadow: 0px 6px 12px 6px #abadae7d;
}

.keisuke {
  @apply absolute top-0 z-10 h-24 w-16;
  animation: animate-kei 100s infinite;
}

.loading_message {
  position: relative;

  span {
    display: inline-block;
    animation: waviy 2s infinite;
  }
}

.loading_kei {
  @apply -m-1 w-12;

  animation: kei-waviy 2s 0.71s infinite;
}

.send_success_container {
  @apply my-20 flex flex-col items-center;

  > span:first-of-type {
    animation-delay: 0.1s;
  }
  > span:nth-of-type(2) {
    animation-delay: 0.3s;
  }
  > span:nth-of-type(3) {
    animation-delay: 0.5s;
  }
  > span:nth-of-type(4) {
    animation-delay: 0.7s;
  }
}

.send_success {
  @apply inline-block animate-bounce text-xl font-bold;
  transform-origin: bottom;
}

@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}
@keyframes kei-waviy {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-30px);
  }
}

@keyframes animate-kei {
  0% {
    top: 5%;
    left: 25%;
  }
  4% {
    top: -10%;
  }
  5% {
    top: -12%;
  }
  6% {
    top: 5%;
    left: 35%;
  }
  13% {
    top: 5%;
    left: 70%;
  }
  14% {
    top: -15%;
  }
  15% {
    top: 5%;
    left: 70%;
  }
  19% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(180deg);
  }
  23% {
    left: 75%;
    top: 90%;
    transform: rotate(180deg);
  }
  25% {
    top: 75%;
    left: 80%;
    transform: rotate(180deg);
  }
  30% {
    top: 75%;
    left: 40%;
  }
  31% {
    left: 40%;
    top: 90%;
  }
  33% {
    left: 5%;
    top: 90%;
  }
  34% {
    top: 80%;
    transform: rotate(180deg);
  }
  35% {
    top: 60%;
    transform: rotate(0);
    left: 40%;
  }
  40% {
    top: -10%;
  }
  42% {
    top: -11%;
  }
  43% {
    top: -10%;
    left: 50%;
  }
  45% {
    top: -11%;
  }
  46% {
    top: -10%;
    left: 40%;
  }
  47% {
    left: 50%;
    top: -11%;
  }
  50% {
    left: 50%;
    top: -11%;
  }
  51% {
    top: 15%;
  }
  58% {
    top: 30%;
  }
  61% {
    top: 30%;
  }
  62% {
    top: -200%;
    left: 50%;
    transform: rotate(0deg);
  }
  70% {
    top: -200%;
    left: 50%;
    transform: rotate(180deg);
  }
  73% {
    top: 30%;
    transform: rotate(170%);
  }
  75% {
    transform: rotate(0);
  }
  80% {
    left: 30%;
    top: -5%;
  }
  81% {
    top: -8%;
    left: 25%;
  }
  82% {
    top: -5%;
    left: 30%;
  }
  83% {
    top: -3%;
    left: 35%;
  }
  84% {
    left: 30%;
    top: -5%;
  }
  86% {
    top: -10%;
  }
  89% {
    top: 50%;
  }
  100% {
    top: 50%;
  }
}
