.shadow {
  box-shadow: 0px 2px 7px 1px #797b7c7d, 0px 0px 2px 0px #22222294;
}

.spinner {
  transform: rotateY(0);
  transition-timing-function: cubic-bezier(1, 0, 1, 1);
  transition-duration: 2.5s;
  backface-visibility: hidden;
}

.spinning {
  transform: rotateY(10070deg);
}

.spin_stop {
  transform: rotateY(0);
  transition-timing-function: cubic-bezier(0, 0.96, 1, 1);
}

.article {
  * {
  }
}
