.gb {
  @apply relative mx-5 h-[80vh] max-h-[490px] w-full max-w-2xl overflow-hidden rounded-md;

  background: linear-gradient(
    0deg,
    #ebebeb 6.33%,
    #f0f0f0 8.33%,
    #f0f0f0 45%,
    #ebebeb 50%,
    #ebebeb 54.33%,
    #f0f0f0 58.33%,
    #f0f0f0 100%
  );
  background-size: 32px 32px;

  &.fainted {
    background: linear-gradient(
      0deg,
      #cacaca 6.33%,
      #bdbdbd 8.33%,
      #bdbdbd 45%,
      #cacaca 50%,
      #cacaca 54.33%,
      #bdbdbd 58.33%,
      #bdbdbd 100%
    );
    background-size: 32px 32px;
  }

  @media (max-width: 440px) {
    height: 70vh;
    max-height: 600px;
  }

  @screen md {
    box-shadow: 0px 11px 70px 50px #3f3f3fa1;
  }
}

.wrapper {
  @apply grid h-full portrait:sm:p-2 portrait:md:p-3 landscape:md:p-5 landscape:md:pt-0 lg:p-4;

  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    'life kei'
    'message message';
}

.image_wrapper {
  @apply relative mt-auto flex aspect-[1/1] max-w-[280px] items-end justify-end portrait:w-[35vh] portrait:min-w-[195px] landscape:w-[42vh];

  animation: appearing 1s 0.1s 1 forwards;
  grid-area: kei;
}

.img {
  @apply mt-auto ml-auto;
  animation: appearing-img 1.5s 0.1s forwards;
  position: relative !important;

  &.attacked {
    animation: attacked 1s forwards;
  }

  &.fainted {
    animation: fainted 0.6s forwards;
  }
}

.life_gauge {
  @apply absolute top-3 left-2 z-10 h-fit w-[50vw] min-w-[250px] max-w-[385px] portrait:sm:top-10 portrait:sm:left-10 landscape:sm:left-12 landscape:sm:top-10 portrait:md:left-14 portrait:md:top-14;
  animation: appearing-life-gauge 1.5s 0.1s forwards;
  grid-area: life;

  &.fainted {
    filter: brightness(0.75);
  }
}

.message_box {
  grid-area: message;
}

@keyframes appearing {
  0% {
    transform: translateX(120px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes appearing-img {
  0% {
    filter: brightness(0.5);
  }
  100% {
    filter: brightness(1);
  }
}

@keyframes appearing-life-gauge {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes attacked {
  0% {
    transform: translateX(0px);
    filter: brightness(0.5);
  }
  25% {
    transform: translateX(-10px);
    filter: brightness(1);
  }
  50% {
    transform: translateX(10px);
    filter: brightness(0.5);
  }
  75% {
    transform: translateX(-10px);
    filter: brightness(1);
  }
  100% {
    transform: translateX(0px);
    filter: brightness(0.5);
  }
}

@keyframes fainted {
  0% {
    filter: brightness(0.5);
  }
  1% {
    filter: brightness(1);
    transform: translateX(10px);
  }
  2% {
    filter: brightness(0.5);
    transform: translateX(-10px);
  }
  3% {
    filter: brightness(0.1);
    transform: translateX(0px);
  }
  10% {
    transform: translate(0, 0);
  }
  100% {
    transform: translateY(100vh);
  }
}
