.header {
  @apply relative my-10 min-h-[328px] px-5 sm:px-8;
}

.stripe {
  background-image: linear-gradient(
    0deg,
    #ffffff 33.33%,
    #ebebeb 33.33%,
    #ebebeb 50%,
    #ffffff 50%,
    #ffffff 83.33%,
    #ebebeb 83.33%,
    #ebebeb 100%
  );
  background-size: 18px 18px;
}

:global(.dark) {
  .stripe {
    background-image: linear-gradient(
      0deg,
      #191818 33.33%,
      #262626 33.33%,
      #262626 50%,
      #191818 50%,
      #191818 83.33%,
      #262626 83.33%,
      #262626 100%
    );
    background-size: 18px 18px;
  }
}

.stripe_with_bg {
  background-image: linear-gradient(
    0deg,
    #ffffff00 33.33%,
    #a5a5a573 33.33%,
    #a5a5a573 50%,
    #ffffff00 50%,
    #ffffff00 83.33%,
    #a5a5a573 83.33%,
    #a5a5a573 100%
  );
  background-size: 18px 18px;
}

:global(.dark) {
  .stripe_with_bg {
    background-image: linear-gradient(
      0deg,
      #ffffff00 33.33%,
      #4b4b4b73 33.33%,
      #4b4b4b73 50%,
      #ffffff00 50%,
      #ffffff00 83.33%,
      #4b4b4b73 83.33%,
      #4b4b4b73 100%
    );
    background-size: 18px 18px;
  }
}

.text_shadow {
  text-shadow: 0px 4px #3f45957d;
}
