.hidden {
  @apply pointer-events-none scale-y-0;
}

.shown {
  @apply pointer-events-auto origin-center scale-y-100;
}

.nav {
  @apply relative block font-game text-game-md leading-5 text-black;

  &:focus-visible {
    @apply outline-none;
  }

  &:hover:before,
  &:focus-visible:before {
    @apply absolute -left-4 top-2 h-0 w-0 border-t-[4px] border-l-[10px] 
    border-b-[4px] border-t-transparent
    border-l-black border-b-transparent
     content-[''];
  }
}
